<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Triagem</title>
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="styles.css" rel="stylesheet">
    <link href="teste.css" rel="stylesheet">
    <link href="relatorio.css" rel="stylesheet">
    <!-- ÍCONES -->
    <link href="assets/libs/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- JQUERY -->
    <script src="assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.min.css">
    <script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="app">
        <h2 class="display-4 titulo">Por Mês</h2>
        <div id="cont" class="row">
            <div id="imgs" class="col-md-6 col-lg-12 col-sm-12">
                <img class="logos logo-ufms col-6 col-sm-6 col-lg-3" src="assets/img/ufms.jpg" alt="">
                <img class="logos logo-talentw col-5 col-sm-6 col-lg-3" src="assets/img/talentw2.png" alt="">
            </div>
            <div id="main" class="col-12 col-sm-12 col-md-8">
                <div id="scroller" class="row vertical-center">
                    <div class="row" id="button" v-show="meses">
                        <div v-for="(mes,index) in meses" v-if="mes.dias.length"  class="row" v-bind:key="index" style="width: -webkit-fill-available;" v-model="messes">
                            <div class="card">
                                <div class="card-header col-12" id="headingOne">
                                    <button-container v-bind:titulo="mes.nome" v-bind:chave="mes.id" filho="false" icone="true" data-toggle="collapse"  aria-expanded="true"  aria-controls="collapseOne">                     
                                    </button-container>

                                    <div  class="collapse show dias" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <button-container v-for="dia in mes.dias" class="cinza" filho="true" v-bind:titulo="dia.dia" icone="true"></button-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/SQLitePlugin.js"></script>
    <script src="js/db.js"></script>
    <script src="assets/libs/vue/vue.js"></script>                      
    <script src="script.js"></script>
    <script src="relatorio.js"></script>
    <!-- <script src="js/button-container.js"></script>     -->
    <script src="cordova.js"></script>
    <script src="js/index.js"></script>  
</body>
</html>