.alert{
	margin: 0 !important;
}
.titulo-container{
	padding: 2% !important;	
}
#main{
	overflow-x: hidden;
}
#headingOne{
	padding: 0;
}
#headingOne .col-10{
	padding: 0;
}
.card{
	width: 80%;
	margin-left: 10%;
}
.cinza button{
	background: #d6d8d9;
}