<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Triagem</title>
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../styles.css" rel="stylesheet">
    <link href="../../teste.css" rel="stylesheet">
    <link href="relatorio.css" rel="stylesheet">
    <link href="../titulo-container/titulo-container.css" rel="stylesheet">

    <!-- ÍCONES -->
    <link href="../../assets/libs/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- JQUERY -->
    <script src="../../assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="../../assets/libs/bootstrap/css/bootstrap.min.css">
    <script src="../../assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
    <div id="app">
        <div id="titulo-container">            
            <titulo-container titulo="Por Mês"></titulo-container>
        </div>
        <div id="cont" class="row">
            <div id="main" class="col-12 col-sm-12 col-md-8">
                <div id="scroller" class="row vertical-center">
                    <div class="row" id="button" v-show="meses">
                        <div v-for="(mes,index) in meses" v-if="mes.dias.length"  class="row meses" v-bind:key="index" v-model="messes">
                            <div class="card">
                                <div class="card-header col-12" id="headingOne">
                                    <button-container v-bind:titulo="mes.nome" v-bind:chave="mes.id" filho="false" icone="true" data-toggle="collapse"  aria-expanded="true"  aria-controls="collapseOne"  v-bind:mess="mes.id">                     
                                    </button-container>

                                    <div   class="collapsing show dias" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <button-container v-for="dia in mes.dias" class="cinza" filho="true" v-bind:titulo="dia.dia" icone="true" v-bind:id="dia.id" v-bind:mess="dia.mes"></button-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/SQLitePlugin.js"></script>
    <script src="../../js/db.js"></script>
    <script src="../../assets/libs/vue/vue.js"></script>                      
    <script src="../../script.js"></script>
    <script src="relatorio.js"></script>
    <script src="../../cordova.js"></script>
    <script src="../../js/index.js"></script>  
</body>
</html>